body{
    width: fit-content;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Montserrat';
    background-color: #e0aaff;
    outline: none;
    border: none;
}


.h1{
    color: #240046;
    font-family: 'mulish';
    font-size: 20px;
}

.h2{
    color: #240046;
    font-family: 'mulish';
}

.gostar{
    color: #240046;
    font-family: 'mulish';
}

.area_texto{
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #5a189a;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #5a189a;
}

.label{
    display: block;

   
}

.form_completo{
    padding: 30px  60px 30px 60px;
    width: 100%;
    background-color: #c77dff;
    border-radius: 40px;
    margin: auto;
    outline: none;

    font-style: italic;
    
}

.input_nome{
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #5a189a;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #5a189a
    
    
}

.input_nome:focus{
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

.input_email{
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #5a189a;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #5a189a;

}

.input_senha{
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #5a189a;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #5a189a;
    border: none !important;
    outline: none;
    margin: 0%;
}

.input_idade{
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #5a189a;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #5a189a;
}

.input_frequencia{
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #5a189a;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #5a189a;
    border: none;
}
.email{
    margin-top: 10px;
    
}

.senha{
    margin-top: 10px;
}

.idade{
    margin-top: 10px;
}

.frequencia{
    margin-top: 10px;
    border: none #10002b;
    display: block;
    outline: none;
}

.masculino{
    margin-top: 5px;
}

.outros{
    margin-top: 5px;
}

.prefiro{
    margin-top: 5px;
}

.romance{
    margin-top: 5px;
}

.comedia{
    margin-top: 5px;
}

.terror{
    margin-top: 5px;
}

.area_texto{
    margin-top: 10px;
}

.botao{
   display: block;
   width: 15%;
   padding: 10px 20px;
   background-color: #e0aaff;
   color: #10002b;
   border-radius: 20px;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
   margin-top: 30px;

   box-shadow: #5a189a 0px 4px 0px;
    
}

.botao:hover{
    background-color: #5a189a;
    box-shadow: #240046 0px 4px 0px;
  
}
